In [17]:
import polars as pl
import pandas as pd

archivo = pl.read_csv('ds_salaries.csv')
archivo

shape: (607, 12)
┌─────┬─────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│     ┆ work_ye ┆ experience ┆ employment ┆ … ┆ employee_r ┆ remote_rat ┆ company_lo ┆ company_si │
│ --- ┆ ar      ┆ _level     ┆ _type      ┆   ┆ esidence   ┆ io         ┆ cation     ┆ ze         │
│ i64 ┆ ---     ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│     ┆ i64     ┆ str        ┆ str        ┆   ┆ str        ┆ i64        ┆ str        ┆ str        │
╞═════╪═════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0   ┆ 2020    ┆ MI         ┆ FT         ┆ … ┆ DE         ┆ 0          ┆ DE         ┆ L          │
│ 1   ┆ 2020    ┆ SE         ┆ FT         ┆ … ┆ JP         ┆ 0          ┆ JP         ┆ S          │
│ 2   ┆ 2020    ┆ SE         ┆ FT         ┆ … ┆ GB         ┆ 50         ┆ GB         ┆ M          │
│ 3   ┆ 2020    ┆ MI         ┆ FT         ┆ … ┆ HN         ┆ 0          ┆ HN         ┆ S          │
│ …   ┆ …       ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 603 ┆ 2022    ┆ SE         ┆ FT         ┆ … ┆ US         ┆ 100        ┆ US         ┆ M          │
│ 604 ┆ 2022    ┆ SE         ┆ FT         ┆ … ┆ US         ┆ 0          ┆ US         ┆ M          │
│ 605 ┆ 2022    ┆ SE         ┆ FT         ┆ … ┆ US         ┆ 100        ┆ US         ┆ M          │
│ 606 ┆ 2022    ┆ MI         ┆ FT         ┆ … ┆ IN         ┆ 100        ┆ US         ┆ L          │
└─────┴─────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [59]:
### parte a: 
archivo.groupby('experience_level').mean('salary_in_usd')

TypeError: mean() takes 1 positional argument but 2 were given

In [16]:
### parte b:

contando = archivo["employee_residence"].value_counts()
pais = contando.filter(pl.col("counts")== contando['counts'].max())
pais

##El pais mas frecuente es US (estados unidos)

shape: (1, 2)
┌────────────────────┬────────┐
│ employee_residence ┆ counts │
│ ---                ┆ ---    │
│ str                ┆ u32    │
╞════════════════════╪════════╡
│ US                 ┆ 332    │
└────────────────────┴────────┘

In [42]:
### parte c:

emplrem = archivo["remote_ratio"].value_counts()
emplno = emplrem.filter(pl.col("remote_ratio")!=100)
emplrem = emplrem.filter(pl.col("remote_ratio") == 100)



porcentaje = emplrem['counts'][0] / (emplno['counts'][0] + emplno['counts'][1] + emplrem['counts'][0] )
porcentaje = porcentaje*100

print("el porcentaje es", porcentaje, "%")

el porcentaje es 62.7677100494234 %